@use '@/styles/variables';

.atTheEndJoinTheBattle {
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 100%;
  margin: 100px 0 40px 0;
  width: 100%;
  height: 433px;
  background-image: url("@/assets/images/backgroundJoinTheBattleEnd.png");
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
    gap: 20px;

    .hText {
      text-align: start;
      font-family: variables.$second-font;
      font-weight: 700;
      font-size: 100px;
      color: variables.$white-color;
      text-transform: uppercase;
      letter-spacing: 2px;
      line-height: 95%;
      margin-bottom: 10px;
    }
  }
}