@use '@/styles/variables';

.newsAndUpdates {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: end;

  .container {
    max-width: 1382px;
    width: 100%;
    height: 57px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: start;

    .news {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 192px;
      width: 100%;
      height: 57px;
      color: #828282;
      background-color: #222;
      cursor: pointer;

      font-family: variables.$main-font;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: bold;
      font-size: 17px;

      &.active {
        border-top: 2px solid #646566;
        color: variables.$white-color;
        background-color: #313131;
      }
    }

    .updates {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 192px;
      width: 100%;
      height: 57px;
      color: #828282;
      background-color: #222;
      cursor: pointer;

      font-family: variables.$main-font;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: bold;
      font-size: 17px;

      &.active {
        border-top: 2px solid #646566;
        color: variables.$white-color;
        background-color: #313131;
      }
    }


  }
}