@use '@/styles/variables';

.joinTheBattleBlock {
  transform: translateY(-15%);
  z-index: 10;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("@/assets/images/radiant_direBackground.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 100%;
  width: 100%;
  height: 974px;
  display: flex;
  align-items: end;
  justify-content: center;
}