@use '../../../styles/variables';

.newsBlock {
  max-width: 370px;
  width: 100%;
  height: 245px;
  border-bottom: 2px solid variables.$white-color-opacite;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 10px #000;

  .newsBlock__image {
    max-width: 370px;
    width: 100%;
    height: 243px;
    object-fit: cover;
  }

  .text__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-left: 20px;
      margin-bottom: 10px;
      transition: transform 0.3s ease;



      h3 {
        max-width: 320px;
        margin: 0;
        text-align: left;
        font-family: variables.$second-font;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 0px;
        text-shadow: 0px 0px 10px variables.$black-color;
        color: variables.$clear-white;
        line-height: 115%;
      }

      span {
        text-align: left;
        margin: 0;
        font-family: variables.$main-font;
        font-size: 16px;
        letter-spacing: 1px;
        color: variables.$white-color-opacite;
        text-transform: uppercase;
      }

      p {
        max-width: 320px;
        text-align: start;
        font-size: 18px;
        opacity: 0;
        line-height: 1;
        color: variables.$gray-color;
        font-family: variables.$main-font;
      }
    }
    }

  &:hover .newsBlock__image {
    filter:  brightness(50%) blur(1px);
  }

  &:hover {
    cursor: pointer;
    border-bottom: 2px solid variables.$orange-color;
    transform: scale(1.03);
  }

  &:hover .text {
    cursor: pointer;
    transform: translateY(-20%);
  }

  &:hover .text p{
    opacity: 1;
  }

}