@use '../../styles/variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 238px;
  width: 100%;
  height: 65px;
  background: transparent;
  border-radius: 5px;
  border: 3px solid variables.$white-color-opacite;
  outline: none;
  padding: 0;
  transition: transform 0.3s ease;

  &.smallBtn {
    max-width: 226px;
    width: 100%;
    height: 60px;
  }

  &:hover {
    transform: translateY(-3%);
    border-color: variables.$orange-color;
  }

  p {
      font-family: variables.$main-font;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 700;
      color: variables.$clear-white;
      text-transform: uppercase;
  }

  }