@use '../../styles/variables';

.latestNewsBlock {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 20;
  background: linear-gradient(
                  to bottom,
                  transparent 0%,
                  rgba(0, 0, 0, 0.1) 5%,
                  rgba(0, 0, 0, 0.3) 10%,
                  rgba(0, 0, 0, 0.6) 15%,
                  rgba(0, 0, 0, 0.8) 20%,
                  rgba(0, 0, 0, 1) 30%,
                  rgba(0, 0, 0, 1) 40%,
                  rgba(0, 0, 0, 1) 50%,
                  rgba(0, 0, 0, 1) 60%,
                  rgba(0, 0, 0, 0.9) 70%,
                  rgba(0, 0, 0, 0.8) 80%,
                  rgba(0, 0, 0, 0.6) 85%,
                  rgba(0, 0, 0, 0.3) 90%,
                  rgba(0, 0, 0, 0.2) 95%,
                  transparent 100%
  );

  .latestNews {
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 1170px;
    width: 100%;
    justify-content: start;

    p {
      margin: 0;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: bold;
      color: variables.$white-color;
      font-family: variables.$main-font;
    }

    .viewAll {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;
      transition: transform 0.2s ease;

      span {
        text-align: left;
        font-family: variables.$main-font;
        font-size: 16px;
        letter-spacing: 3px;
        color: variables.$white-color-opacite;
        text-transform: uppercase;
      }

      .arrowRight {
        max-width: 20px;
        width: 100%;
        height: 20px;
        transform: rotate(200grad);
        margin-bottom: 2px;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }

  .newsBlocks {
    display: flex;
    flex-direction: row;
    gap: 30px;
    animation: fromDownToTop 2s ease 0s forwards;

    @keyframes fromDownToTop {
      0% {
        opacity: 0;
        transform: translateY(100px);
      }

      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}