
//colors
$clear-white: white;
$black-color: #000;
$white-color: #ffffffee;
$white-color-opacite: #ffffff90;
$orange-color: #ff6046;
$gray-color: #A9A9A9;

$main-font: "Radiance", "Noto Sans", sans-serif;
$second-font: "Reaver", serif;

