@use '@/styles/variables';

.featuredPost {
  display: flex;
  align-items: end;
  justify-content: center;
  max-width: 100vw;
  width: 100%;
  height: 520px;
  z-index: -10;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 1382px;
    width: 100%;
    height: 180px;
    transition: transform 0.2s ease;

    h3 {
      width: 100%;
      height: 86px;
      display: flex;
      align-items: start;
      margin: 0;
      font-size: 60px;
      font-weight: 700;
      text-shadow: 0px 0px 10px variables.$black-color;
      letter-spacing: 1px;
      line-height: 110%;
      color: variables.$white-color;
      text-align: left;
      font-family: variables.$second-font;
    }

    .topInfo {
      display: flex;
      width: 100%;
      height: 45px;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
      margin: 0;

      p {
        font-family: variables.$main-font;
        font-size: 18px;
        color: variables.$white-color-opacite;
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
      }

      .mark {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 163px;
        width: 100%;
        height: 29px;
        margin: 0;
        font-family: variables.$main-font;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        background: #ffffff50;
        color: variables.$white-color;
        text-transform: uppercase;
      }
    }

    .readMore {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      width: 100%;
      height: 22px;

      p {
        font-family: variables.$main-font;
        color: variables.$white-color-opacite;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        user-select: none;
        text-shadow: 0px 0px 4px #000;

      }

      .arrowRight {
        max-width: 20px;
        width: 100%;
        height: 20px;
        transform: rotate(200grad);
        margin-bottom: 2px;
        transition: transform 0.2s ease;
      }

      &:hover p{
        color: variables.$white-color;
      }

      &:hover .arrowRight{
        transform: translateX(5px)
        rotate(200grad);
      }


    }

    &:hover {
      transform: translateY(-10px);
    }

  }
}