@use '../../styles/variables';

.mainDownload {
  max-width: 100vw;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: start;
  animation: mainAnim 4s ease 0s forwards;

  @keyframes mainAnim {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    20% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    margin-left: 180px;

    h1 {
      margin: 0;
      font-family: variables.$second-font;
      font-size: 60px;
      letter-spacing: 5px;
      color: variables.$white-color;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 113%;
      text-shadow: 0px 0px 20px variables.$black-color;
    }

    p {
      font-family: variables.$main-font;
      font-size: 20px;
      letter-spacing: 2px;
      color: variables.$white-color-opacite;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .mainPlay__button {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 288px;
      width: 100%;
      height: 78px;
      background: transparent;
      border-radius: 6px;
      border: 3px solid variables.$white-color-opacite;
      outline: none;
      padding: 0;
      transition: transform 0.3s ease;
      box-shadow: 0px 0px 5px variables.$black-color;
      margin-top: 30px;

      &:hover {
        transform: translateY(-3%);
        border-color: variables.$orange-color;
      }


      .mainPlay__buttonCont {
        max-width: 288px;
        width: 100%;
        height: 78px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;


        .textColumn {
          max-width: 206px;
          width: 100%;
          height: 49px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-right: 12px;

          p {
            margin: 0;
            font-family: variables.$second-font;
            font-size: 22px;
            text-shadow: 2px 2px 3px variables.$black-color;
            letter-spacing: 2px;
            font-weight: 600;
            color: variables.$clear-white;
            text-transform: uppercase;
          }

          span {
            font-family: variables.$main-font;
            font-size: 15px;
            text-shadow: 2px 2px 3px variables.$black-color;
            letter-spacing: 2px;
            color: variables.$white-color-opacite;
            text-transform: uppercase;
          }
        }

        .steamIco {
          max-width: 48px;
          width: 100%;
          height: 48px;
          background-image: url('src/assets/images/steamIco.svg');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
        }


      }
    }
  }
}