@use '@/styles/variables';

.updatesBlock {
  width: 100%;
  max-height: 15697px;
  height: 100%;
  background-image: url("@/assets/images/bg_repeater.jpg");
  border-top: 3px solid #313131;
  display: flex;
  justify-content: center;
  padding: 40px 0 40px 0;

  .updatesColumn {
    max-width: 1382px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;

    .update {
      max-width: 1382px;
      width: 100%;
      max-height: 3000px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      text-align: start;
      background-color: #0b0b0b;
      border-left: 2px solid #1f3242;
      padding: 20px 20px;
      gap: 5px;

      span {
        margin: 0;
        font-family: variables.$main-font;
        color: variables.$white-color-opacite;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 2px;
        z-index: 2;
        font-weight: lighter;
      }

      h3 {
        margin: 0;
        text-shadow: 0px 0px 10px variables.$black-color;
        font-family: variables.$second-font;
        font-weight: bold;
        text-transform: none;
        letter-spacing: 0;
        font-size: 24px;
        color: variables.$white-color;
      }

      p {
        font-size: 18px;
        color: variables.$white-color-opacite;
        line-height: 26px;
        font-family: variables.$main-font;
      }

      li {
        font-size: 18px;
        color: variables.$white-color-opacite;
        line-height: 26px;
        font-family: variables.$main-font;
      }
    }
  }
}
