@use '@/styles/variables';

.header {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
  max-width: 100vw;
  width: 100%;
  height: 80px;
  padding: 0 30px 0 30px;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  max-width: 800px;
  width: 100%;
  height: 80px;
}

.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 446px;
  width: 100%;
  height: 80px;
}


.header__logo {
  max-width: 200px;
  width: 100%;
  height: 50px;
  background-image: url('@/assets/images/dota2_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;
  margin-right: 25px;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.nav__game {
  position: relative;
  max-width: 128px;
  width: 100%;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: border-color 0.2s ease, background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease;

  p {
    font-family: variables.$second-font;
    font-size: 18px;
    color: variables.$white-color;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .gameMenu {
    pointer-events: none;
    opacity: 0;
    left: -2%;
    top: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 180px;
    height: 97px;
    gap: 5px;
    transition: opacity 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;
    border: 2px solid rgba(255, 255, 255, 0);
    z-index: 10;

    li {
      padding-left: 10px;
      max-width: 176px;
      width: 100%;
      height: 17px;
      text-align: start;
      list-style-type: none;
      font-family: variables.$main-font;
      color: variables.$white-color;
      font-size: 14px;
      letter-spacing: 2px;
      opacity: .8;
      text-transform: uppercase;
      transition: transform 0.2s ease;
      &:hover{
        cursor: pointer;
        transform: translateX(5px);
      }
    }
  }

  .arrowDownGame {
    max-width: 10px;
    width: 100%;
    height: 6px;
    background-image: url('@/assets/images/arrow_over.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.8;

  }

  &:hover {
    border-color: rgba(255, 255, 255, 0.6);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(244, 244, 244, .2);

    &.p {
      cursor: pointer;
      opacity: 1;
      color: variables.$clear-white;
    }

    &:hover .gameMenu {
      pointer-events: auto;
      opacity: 1;
      border-color: rgba(255, 255, 255, 0.6);
      background-color: rgba(244, 244, 244, .2);
    }

    &:hover .arrowDownGame {
      cursor: pointer;
    }
  }

}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.nav_other {
  font-family: variables.$second-font;
  font-size: 18px;
  color: variables.$white-color;
  opacity: 0.8;
  text-transform: uppercase;
  list-style-type: none;
  letter-spacing: 3px;

  &:hover {
    cursor: pointer;
    opacity: 1;
    color: variables.$clear-white;
  }
}

.languageLogin {
  max-width: 180px;
  width: 100%;
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 2px;

  .login__button {
    font-family: variables.$main-font;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    color: variables.$white-color;
    opacity: 0.8;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      opacity: 1;
      color: variables.$clear-white;
    }
  }

  .language__selector {
    position: relative;
    max-width: 180px;
    width: 100%;
    height: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 5px;

    p {
      margin: 0;
      font-family: variables.$main-font;
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: 400;
      color: variables.$white-color;
      opacity: 0.8;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        opacity: 1;
        color: variables.$clear-white;
      }
    }

    .language__ico {
      max-width: 12px;
      width: 100%;
      height: 12px;
      background-image: url('@/assets/images/language.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.8;
      margin-right: 2px;
      margin-bottom: 1px;
    }

    .arrowDown {
      max-width: 10px;
      width: 100%;
      height: 6px;
      background-image: url('@/assets/images/arrow_over.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.8;

      &:hover {
        cursor: pointer;
      }
    }

    .selectLanguageWindow {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 310px;
      height: 530px;
      position: absolute;
      left: 10%;
      top: 105%;
      background-color: #222;
      border: 1px solid #888;
      z-index: 20;

      a {
        font-family: variables.$main-font;
        color: #999;
        text-decoration: none;
        font-size: 10px;
        line-height: 18px;
        text-align: start;
        max-width: 310px;
        padding: 0 12px;
        width: 100%;
        height: 18px;
        transition: color 0.3s ease, background-color 0.3s ease;

        &:hover {
          color: variables.$black-color;
          background-color: #999;
          cursor: pointer;
        }
      }
    }

    &:hover .selectLanguageWindow {
      display: flex;
    }
  }
}

.play__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 246px;
  width: 100%;
  height: 60px;
  background: transparent;
  border-radius: 5px;
  border: 3px solid variables.$white-color-opacite;
  outline: none;
  padding: 0;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-3%);
    border-color: variables.$orange-color;
  }


  .play__buttonCont {
    display: flex;
    gap: 12px;
    flex-direction: row;
    width: 100%;
    height: 24px;
    align-items: center;
    justify-content: center;

    .steamIco {
      max-width: 20px;
      width: 100%;
      height: 20px;
      background-image: url('@/assets/images/steam_icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    p {
      font-family: variables.$main-font;
      font-size: 20px;
      letter-spacing: 2px;
      font-weight: 700;
      color: variables.$clear-white;
      text-transform: uppercase;
    }

  }
}


