@use '../../styles/variables';

.header {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
  max-width: 100vw;
  width: 100%;
  height: 80px;
  padding: 0 30px 0 30px;
}

.headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  max-width: 800px;
  width: 100%;
  height: 80px;
}

.headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 446px;
  width: 100%;
  height: 80px;
}


.header__logo {
  max-width: 200px;
  width: 100%;
  height: 50px;
  background-image: url('src/assets/images/dota2_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.8;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.nav__game {
  max-width: 85px;
  width: 100%;
  height: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;

  p {
    font-family: variables.$second-font;
    font-size: 18px;
    color: variables.$white-color;
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 3px;

    &:hover {
      cursor: pointer;
      opacity: 1;
      color: variables.$clear-white;
    }
  }

  .arrowDownGame {
    max-width: 10px;
    width: 100%;
    height: 6px;
    background-image: url('src/assets/images/arrow_over.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.8;

    &:hover {
      cursor: pointer;
    }
  }
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.nav_other {
  font-family: variables.$second-font;
  font-size: 18px;
  color: variables.$white-color;
  opacity: 0.8;
  text-transform: uppercase;
  list-style-type: none;
  letter-spacing: 3px;

  &:hover {
    cursor: pointer;
    opacity: 1;
    color: variables.$clear-white;
  }
}

.languageLogin {
  max-width: 180px;
  width: 100%;
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 2px;

  .login__button {
    font-family: variables.$main-font;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    color: variables.$white-color;
    opacity: 0.8;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      opacity: 1;
      color: variables.$clear-white;
    }
  }

  .language__selector {
    max-width: 180px;
    width: 100%;
    height: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 5px;

    p {
      margin: 0;
      font-family: variables.$main-font;
      font-size: 14px;
      letter-spacing: 1px;
      font-weight: 400;
      color: variables.$white-color;
      opacity: 0.8;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        opacity: 1;
        color: variables.$clear-white;
      }
    }

    .language__ico {
      max-width: 12px;
      width: 100%;
      height: 12px;
      background-image: url('src/assets/images/language.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.8;
    }

    .arrowDown {
      max-width: 10px;
      width: 100%;
      height: 6px;
      background-image: url('src/assets/images/arrow_over.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      opacity: 0.8;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.play__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 225px;
  width: 100%;
  height: 60px;
  background: transparent;
  border-radius: 5px;
  border: 3px solid variables.$white-color-opacite;
  outline: none;
  padding: 0;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-3%);
    border-color: variables.$orange-color;
  }


  .play__buttonCont {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 190px;
    width: 100%;
    height: 24px;
    align-items: center;
    justify-content: center;

    .steamIco {
      max-width: 27px;
      width: 100%;
      height: 27px;
      background-image: url('src/assets/images/steamIco.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }

    p {
      font-family: variables.$main-font;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: 700;
      color: variables.$clear-white;
      text-transform: uppercase;
    }

  }
}


