@use '@/styles/variables';

.allNewsBlock {
  width: 100%;
  max-height: 1542px;
  height: 100%;
  background-image: url("@/assets/images/bg_repeater.jpg");
  border-top: 3px solid #313131;
  display: flex;
  flex-direction: column;
  align-items: center;

  .newsColumn {
    padding-top: 3vw;
    max-width: 1382px;
    width: 100%;
    max-height: 1432px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }

  .pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 50px;

    .page {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      background-color: variables.$white-color-opacite;

      font-family: variables.$main-font;
      font-size: 16px;
      font-weight: 700;
      color: variables.$black-color;
      cursor: pointer;
      user-select: none;
      text-align: center;

      &.active {
        background-color: #ff6046;
      }
    }
  }
}
