@use '@/styles/variables';

.allNewsBlock {
  width: 100%;
  height: 1542px;
  background-image: url("@/assets/images/bg_repeater.jpg");
  border-top: 3px solid #313131;
  display: flex;
  justify-content: center;

  .newsColumn {
    padding-top: 3vw;
    max-width: 1382px;
    width: 100%;
    max-height: 1432px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
}
