@use '@/styles/variables';

.chooseUrHero {
  width: 100%;
  background: url("@/assets/images/greyfadeBackground.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;


    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
      gap: 10px;
      width: 100%;
      height: 350px;

      h3 {
        margin: 0;
        color: variables.$clear-white;
        font-size: 3vw;
        font-family: variables.$second-font;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 112%;
      }

      p {
        max-width: 1000px;
        width: 100%;
        font-family: variables.$main-font;
        height: 93px;
        color: variables.$white-color-opacite;
        margin-bottom: 30px;
        font-size: 26px;
        text-align: center;
        font-weight: 100;
        line-height: 112%;
      }
    }


    .filterHeroes {
      display: flex;
      flex-direction: row;
      width: 100%;
      max-width: 1200px;
      padding: 10px;
      border-radius: 5px;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #11111190;
      box-shadow: 0px 0px 30px #00000050;
      margin-top: 20px;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));

      .description {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 34px;

        p {
          display: flex;
          align-items: center;
          margin-left: 10px;
          max-width: 180px;
          width: 100%;
          height: 22px;
          font-family: variables.$main-font;
          color: variables.$white-color;
          font-size: 18px;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }

      .attribute {
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 280px;
        width: 100%;
        height: 34px;

        p {
          font-family: variables.$main-font;
          color: #808fa6;
          font-size: 17px;
          text-transform: uppercase;
          letter-spacing: 2px;
          margin-right: 20px;
        }
      }
    }

    .imageInactive {
      cursor: pointer;
      filter: brightness(0.5) saturate(0);
      transition: filter 0.1s ease;
      margin-left: -4px;

      &.active {
        filter: none;
      }
    }

    .complexity {
      margin-left: 20px;
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 254px;
      width: 100%;
      height: 34px;

      p {
        font-family: variables.$main-font;
        color: #808fa6;
        font-size: 17px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 20px;
      }
    }

    .searchHero {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 250px;
      width: 100%;
      height: 50px;
      background-color: #25282a;

      img {
        margin: 0 10px;
      }

      input {
        height: 30px;
        width: 100%;
        font-family: variables.$main-font;
        border: 0px solid transparent;
        background-color: #25282a;
        outline: none;
        color: variables.$white-color;
        font-size: 18px;
      }
    }

    .heroes {
      position: relative;
      width: 1200px;
      min-height: 1000px;
      margin-top: 15px;
      margin-bottom: 15px;

      .heroesRow {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 17px;

      }

      .noHeroes {
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        padding-top: 200px;
        position: absolute;
        z-index: 10;
        pointer-events: none;
        opacity: 0;
        font-family: variables.$second-font;
        font-size: 80px;
        color: variables.$white-color;

        &.visible {
          opacity: 1;
        }
      }
    }



  }

}
