@use '@/styles/variables';

.footer {
  width: 100% ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 148px;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    .images {
      display: flex;
      flex-direction: row;
      gap: 80px;
    }

    p {
      font-family: variables.$main-font;
      text-align: center;
      font-size: 14px;
      color: #777;
      margin: 0 auto;
      line-height: 125%;
    }
  }
}