@use '../../styles/variables';

.blockWithText {
  height: 488px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;

  h2 {
    text-align: center;
    margin: 0;
    font-family: variables.$second-font;
    font-weight: 700;
    font-size: 100px;
    color: variables.$white-color;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 90%;
  }

  .pText {
    max-width: 981px;
    width: 100%;
    height: 120px;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: variables.$main-font;
    font-weight: 100;
    font-size: 26px;
    color: variables.$white-color-opacite;
    line-height: 115%;
  }
}