.backgroundHeader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 700px;
  background-image: url("@/assets/images/default_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -20;
  opacity: .7;

  &.specific {
    opacity: 1;
    width: 100%;
    height: 500px;
    background-position: center;
    mask-image: linear-gradient(to top, transparent 25%, black 100%);
  }
}
