@use '../../styles/variables';

.heroesSlider {
  position: absolute;
  left: 0;
  max-width: 13770px;
  width: 100%;
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  .heroContainer {
    min-width: 255px;
    height: 127px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.25s ease, z-index 0.25s ease;


    .heroImg {
      object-fit: cover;
      max-width: 255px;
      width: 100%;
      height: 127px;
    }

    .heroInfo {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      left: 2%;
      bottom: 2%;



      .heroAttribute {
        opacity: 0;
        transform: translateY(12px);
        transition: opacity 0.35s ease, transform 0.35s ease;
        max-width: 30px;
        width: 100%;
        height: 30px;
      }

      .heroName {
        display: flex;
        opacity: 0;
        transform: translateY(12px);
        transition: opacity 0.35s ease, transform 0.35s ease;
        align-items: center;
        margin: 0;
        max-width: 170px;
        width: 100%;
        height: 36px;
        font-size: 18px;
        line-height: 20px;
        font-family: variables.$second-font;
        font-weight: 600;
        color: variables.$clear-white;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-shadow: 0px 0px 4px #000;
      }

    }

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      z-index: 10;
    }

    &:hover .heroAttribute {
      opacity: 1;
      transform: translateY(0);
    }

    &:hover .heroName {
      opacity: 1;
      transform: translateY(0);
    }
  }
}